<div class="three-posts">
  <h3><a href="/users/<%= current_user.id %>/posts/<%= post.id %>"><%= post.title %></a></h3>
  <p><%= truncate(post.text, length: 300) %></p>
  <div class="post-meta">
    <span class="comment">Comments: </span><%= post.comments_counter || 0 %>
    <span class="likes">Likes: </span><%= post.likes_counter || 0 %>
  </div>
</div>
