<% @users = User.all; %>
<% @posts = Post.all; %>
<% current_user = @users.find_by(id: params[:id]) %>
<% @posts_per_user = current_user.posts %>
<h2><%= current_user.name %>'s page</h2>
<div class="body">
  <div class="user">
    <img src="<%= current_user.photo %>" alt="<%= current_user.name %>" width="180" height="auto">
    <div class="user-block">
      <h3><%= current_user.name %></h3>
      <h4>Number of posts: <%= current_user.posts_counter %></h4>
    </div>
  </div>
  <div class="bio">
    <h2>Bio</h2>
    <p><%= current_user.bio %></p>
  </div>
  <h2>Last three posts</h2>
  <% @posts_per_user.first(3).each do |post| %>
  <%= render partial: "post", locals: { post: post, current_user: current_user } %>
  <% end %>
  <div class="btn-block">
    <button class="btn"><a class="link-btn" href="/users/<%= current_user.id %>/posts">See all posts</a></button>
  </div>
</div>
