<h2><%= @user.name %>'s page</h2>
<div class="body">
  <%= render partial: "user", locals: { user: @user } %>
  <div class="bio">
    <h2>Bio</h2>
    <p><%= @user.bio %></p>
  </div>
  <h2>Last three posts</h2>
  <% @user.last_3_posts.each do |post| %>
  <%= render partial: "post", locals: { post: post, user: @user } %>
  <% end %>
  <div class="btn-block">
    <button class="btn"><a class="link-btn" href="/users/<%= @user.id %>/posts">See all posts</a></button>
  </div>
</div>
