<h2>New blog post</h2>
<%= form_with model: @post, url: "/users/#{current_user.id}/posts" do |form| %>
  <%= form.hidden_field :author_id, value: current_user.id %>

  <div class="title">
    <%= form.label :title %><br>
    <%= form.text_field :title, placeholder: 'Title' %>
  </div>

  <div class="text-field">
    <%= form.label :text %><br>
    <%= form.text_area :text, placeholder: 'Text' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
