<% @users = User.all; %>
<% current_user = @users.find_by(id: params[:user_id]) %>
<div class="body">
  <h2>All the posts from <%= current_user.name %></h2>
  <div>
    <div class="user">
      <img src="<%= current_user.photo %>" alt="<%= current_user.name %>" width="180" height="auto">
      <div class="user-block">
        <h3><%= current_user.name %></h3>
        <h4>Number of posts: <%= current_user.posts_counter %></h4>
      </div>
    </div>
  </div>
  <% @posts_per_user = @users.find_by(id: params[:user_id]).posts %>
  <% @posts_per_user.first(2).each do |post| %>
  <% @comments_per_post = Post.find_by(id: post.id).comments %>
    <div class="post">
      <h3><a href="/users/<%= current_user.id %>/posts/<%= post.id %>"><%= post.title %></a></h3>
      <p><%= post.text %></p>
      <div class="post-meta">
        <span class="comment">Comments: </span><%= post.comments_counter || 0 %>
        <span class="likes">Likes: </span><%= post.likes_counter || 0 %>
      </div>
    </div>
    <h3>Comments:</h3>
    <div class="comments">
      <% @comments_per_post.first(5).each do |comment| %>
      <div class="comments-meta">
        <h4><%= @users.find_by(id: comment.author_id).name %>: </h4>
        <p><%= comment.text %></p>
      </div>
      <% end %>
    </div>
  <% end %>
  <div class="btn-div">
    <button class="btn"><a class="link-btn" href="/users/<%= current_user.id %>/posts">See all posts</button>
  </div>
</div>
