<div class="body">
  <div class="one-post">
    <div class="one-post-meta">
      <h2 class="single-post"><%= @post.title %> by <%= @post.author.name %></h2>
      <div class="post-meta">
        <span class="comment">Comments: </span><%= @post.comments_counter || 0 %>
        <span class="likes">Likes: </span><%= @post.likes_counter || 0 %>
      </div>
    </div>
    <p><%= @post.text %></p>
  </div>
  <h3>Comments:</h3>
  <div class="comments">
    <% @comments_per_post = @post.comments %>
    <% @comments_per_post.each do |comment| %>
    <%= render partial: "comment", locals: { comment: comment }%>
    <% end %>
  </div>
</div>
