<!DOCTYPE html>
<html>
  <head>
    <title>RubyOnRailsBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="top">
      <%= render 'layouts/navbar' %>
      <h1>Yuriy's Ruby on Rails Blog</h1>
    </header>

    <div class="container">
      <% if flash[:notice] %>
        <div class="notice" role="alert">
          <strong>
            <%= flash[:notice] %>
          </strong>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert" role="alert">
          <strong>
            <%= flash[:alert] %>
          </strong>
        </div>
      <% end %>
      <%= yield %>
    </div>

    <footer class="bottom">
      <hr class="line">
      <span>Copyright &reg; <a class="author" href="https://github.com/Hombre2014">Yuriy Chamkoriyski</a>, 2022 All rights reserved</span>
    </footer>
  </body>
</html>
