<!DOCTYPE html>
<html>
  <head>
    <title>RubyOnRailsBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="top">
      <h1>Yuriy's Ruby on Rails Blog</h1>
    </header>
    <%= yield %>
    <footer class="bottom">
      <hr class="line">
      <span>Copyright &reg; <a class="author" href="https://github.com/Hombre2014">Yuriy Chamkoriyski</a>, 2022 All rights reserved</span>
    </footer>
  </body>
</html>
